@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.signup-body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
}

.signup-title {
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin-top: 42px;
  margin-bottom: 27px;
}

.login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard', sans-serif;
  font-size: 24px;
  color: #757575;
  margin-bottom: 50px;
}

.login-text span {
  margin-left: 28px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.input-box {
  width: 680px;
  height: 243px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input-row {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: 'Pretendard', sans-serif;
  font-size: 22px;
  color: #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.input-row:first-child {
  border-top: none;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  opacity: 0.7;
}

.input-row input {
  border: none;
  outline: none;
  font-family: 'Pretendard', sans-serif;
  font-size: 22px;
  flex: 1;
  color: #000;
}

.input-row input::placeholder {
  color: #d9d9d9;
}

.eye-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.signup-button {
  width: 680px;
  height: 88px;
  background-color: #000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}
